In [1]:
import pandas as pd
import numpy as np

In [16]:
owid_data = pd.read_csv('../data/owid-covid-data.csv' , 
                        usecols =['iso_code', 'continent', 'location', 'date','total_cases', 'total_deaths', 'new_cases', 'new_deaths'] )
#

In [18]:
owid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429435 entries, 0 to 429434
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   iso_code      429435 non-null  object
 1   continent     402910 non-null  object
 2   location      429435 non-null  object
 3   date          429435 non-null  object
 4   total_cases   411804 non-null  float64
 5   new_cases     410159 non-null  float64
 6   total_deaths  411804 non-null  float64
 7   new_deaths    410608 non-null  float64
dtypes: float64(4), object(4)
memory usage: 26.2+ MB

In [23]:
owid_data = owid_data.astype({'date':'datetime64[ns]'})

In [24]:
owid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429435 entries, 0 to 429434
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   iso_code      429435 non-null  object
 1   continent     402910 non-null  object
 2   location      429435 non-null  object
 3   date          429435 non-null  datetime64[ns]
 4   total_cases   411804 non-null  float64
 5   new_cases     410159 non-null  float64
 6   total_deaths  411804 non-null  float64
 7   new_deaths    410608 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 26.2+ MB

In [26]:
## del owid
# How to delete an dataframe

In [29]:
owid_data.describe().round(2)

,date,total_cases,new_cases,total_deaths,new_deaths
count,429435,4.118040e+05,410159.00,411804.00,410608.00
mean,2022-04-21 01:06:25.463691008,7.365292e+06,8017.36,81259.57,71.85
min,2020-01-01 00:00:00,0.000000e+00,0.00,0.00,0.00
25%,2021-03-05 00:00:00,6.280750e+03,0.00,43.00,0.00
50%,2022-04-20 00:00:00,6.365300e+04,0.00,799.00,0.00
75%,2023-06-08 00:00:00,7.582720e+05,0.00,9574.00,0.00
max,2024-08-14 00:00:00,7.758668e+08,44236227.00,7057132.00,103719.00
std,NaN,4.477582e+07,229664.87,441190.14,1368.32

In [32]:
### Countries Count
owid_data['location'].nunique()

255

In [51]:
# Get the latest entry for each country
latest_owid_data = owid_data.sort_values('date').groupby('location').tail(1)

In [53]:
# Sort countries by total cases
top10 = latest_owid_data.sort_values('total_cases', ascending=False).head(10)
#top10 countries with most cases
print(top10[['location', 'total_cases']])

              location  total_cases
278858   North America  124492666.0
405124   United States  103436829.0
75343            China   99373219.0
359237   South America   68809418.0
132040          France   38997490.0
142084         Germany   38437756.0
51907           Brazil   37511921.0
360911     South Korea   34571873.0
190299           Japan   33803572.0
403450  United Kingdom   24974629.0

In [54]:
owid_data.to_csv('../data/owid_covid_cleaned.csv')