In [1]:
import pandas as pd
import numpy as np

In [12]:
# reading the json file created through diseases.sh 
covidindia = pd.read_json('../data/india_covid_data.json')

In [13]:
covidindia

,updated,country,countryInfo,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,...,tests,testsPerOneMillion,population,continent,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion
_id,1746523456844,India,356,45035393,0,533570,0,0,0,44501823,...,935879495,665334,1406631776,Asia,31,2636,2,31637.15,0,0
iso2,1746523456844,India,IN,45035393,0,533570,0,0,0,44501823,...,935879495,665334,1406631776,Asia,31,2636,2,31637.15,0,0
iso3,1746523456844,India,IND,45035393,0,533570,0,0,0,44501823,...,935879495,665334,1406631776,Asia,31,2636,2,31637.15,0,0
lat,1746523456844,India,20,45035393,0,533570,0,0,0,44501823,...,935879495,665334,1406631776,Asia,31,2636,2,31637.15,0,0
long,1746523456844,India,77,45035393,0,533570,0,0,0,44501823,...,935879495,665334,1406631776,Asia,31,2636,2,31637.15,0,0
flag,1746523456844,India,https://disease.sh/assets/img/flags/in.png,45035393,0,533570,0,0,0,44501823,...,935879495,665334,1406631776,Asia,31,2636,2,31637.15,0,0

In [14]:
covidindia = covidindia.drop(['todayCases', 'todayDeaths', 'recovered', 'todayRecovered', 'recoveredPerOneMillion' , 'critical' , 'criticalPerOneMillion'] ,axis = 1)

In [16]:
covidindia.reset_index()

,index,updated,country,countryInfo,cases,deaths,active,casesPerOneMillion,deathsPerOneMillion,tests,testsPerOneMillion,population,continent,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion
0,_id,1746523456844,India,356,45035393,533570,44501823,32016,379,935879495,665334,1406631776,Asia,31,2636,2,31637.15
1,iso2,1746523456844,India,IN,45035393,533570,44501823,32016,379,935879495,665334,1406631776,Asia,31,2636,2,31637.15
2,iso3,1746523456844,India,IND,45035393,533570,44501823,32016,379,935879495,665334,1406631776,Asia,31,2636,2,31637.15
3,lat,1746523456844,India,20,45035393,533570,44501823,32016,379,935879495,665334,1406631776,Asia,31,2636,2,31637.15
4,long,1746523456844,India,77,45035393,533570,44501823,32016,379,935879495,665334,1406631776,Asia,31,2636,2,31637.15
5,flag,1746523456844,India,https://disease.sh/assets/img/flags/in.png,45035393,533570,44501823,32016,379,935879495,665334,1406631776,Asia,31,2636,2,31637.15

In [19]:
#Tried normalizing but it wasnt required
#pd.json_normalize(covidindia)

In [20]:
covidindia

,updated,country,countryInfo,cases,deaths,active,casesPerOneMillion,deathsPerOneMillion,tests,testsPerOneMillion,population,continent,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion
_id,1746523456844,India,356,45035393,533570,44501823,32016,379,935879495,665334,1406631776,Asia,31,2636,2,31637.15
iso2,1746523456844,India,IN,45035393,533570,44501823,32016,379,935879495,665334,1406631776,Asia,31,2636,2,31637.15
iso3,1746523456844,India,IND,45035393,533570,44501823,32016,379,935879495,665334,1406631776,Asia,31,2636,2,31637.15
lat,1746523456844,India,20,45035393,533570,44501823,32016,379,935879495,665334,1406631776,Asia,31,2636,2,31637.15
long,1746523456844,India,77,45035393,533570,44501823,32016,379,935879495,665334,1406631776,Asia,31,2636,2,31637.15
flag,1746523456844,India,https://disease.sh/assets/img/flags/in.png,45035393,533570,44501823,32016,379,935879495,665334,1406631776,Asia,31,2636,2,31637.15

In [24]:
covidindia.to_csv('../data/covidindia_df.csv', index=False)