In [1]:
import requests

response = requests.get("https://disease.sh/v3/covid-19/countries")
data = response.json()
print(data[0])

{'updated': 1746438836047, 'country': 'Afghanistan', 'countryInfo': {'_id': 4, 'iso2': 'AF', 'iso3': 'AFG', 'lat': 33, 'long': 65, 'flag': 'https://disease.sh/assets/img/flags/af.png'}, 'cases': 234174, 'todayCases': 0, 'deaths': 7996, 'todayDeaths': 0, 'recovered': 211080, 'todayRecovered': 0, 'active': 15098, 'critical': 0, 'casesPerOneMillion': 5746, 'deathsPerOneMillion': 196, 'tests': 1390730, 'testsPerOneMillion': 34125, 'population': 40754388, 'continent': 'Asia', 'oneCasePerPeople': 174, 'oneDeathPerPeople': 5097, 'oneTestPerPeople': 29, 'activePerOneMillion': 370.46, 'recoveredPerOneMillion': 5179.32, 'criticalPerOneMillion': 0}

In [2]:
import pandas as pd
import numpy as np

In [4]:
covid_data = pd.DataFrame(data)

In [7]:
covid_data.tail()

,updated,country,countryInfo,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,...,tests,testsPerOneMillion,population,continent,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion
226,1746438836166,Wallis and Futuna,"{'_id': 876, 'iso2': 'WF', 'iso3': 'WLF', 'lat...",3550,0,8,0,438,0,3104,...,20508,1867419,10982,Australia-Oceania,3,1373,1,282644.33,39883.45,0.00
227,1746438836175,Western Sahara,"{'_id': 732, 'iso2': 'EH', 'iso3': 'ESH', 'lat...",10,0,1,0,9,0,0,...,0,0,626161,Africa,62616,626161,0,0.00,14.37,0.00
228,1746438836143,Yemen,"{'_id': 887, 'iso2': 'YE', 'iso3': 'YEM', 'lat...",11945,0,2159,0,9124,0,662,...,329592,10579,31154867,Asia,2608,14430,95,21.25,292.86,0.00
229,1746438836035,Zambia,"{'_id': 894, 'iso2': 'ZM', 'iso3': 'ZMB', 'lat...",349304,0,4069,0,341316,0,3919,...,4112961,211244,19470234,Africa,56,4785,5,201.28,17530.14,0.00
230,1746438836044,Zimbabwe,"{'_id': 716, 'iso2': 'ZW', 'iso3': 'ZWE', 'lat...",266359,0,5740,0,258888,0,1731,...,2525756,164744,15331428,Africa,58,2671,6,112.91,16886.10,0.78

In [9]:
covid_data.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   updated                 231 non-null    int64
 1   country                 231 non-null    object
 2   countryInfo             231 non-null    object
 3   cases                   231 non-null    int64
 4   todayCases              231 non-null    int64
 5   deaths                  231 non-null    int64
 6   todayDeaths             231 non-null    int64
 7   recovered               231 non-null    int64
 8   todayRecovered          231 non-null    int64
 9   active                  231 non-null    int64
 10  critical                231 non-null    int64
 11  casesPerOneMillion      231 non-null    int64
 12  deathsPerOneMillion     231 non-null    int64
 13  tests                   231 non-null    int64
 14  testsPerOneMillion      231 non-null    int64
 15  population              231 non-null    int64
 16  continent               231 non-null    object
 17  oneCasePerPeople        231 non-null    int64
 18  oneDeathPerPeople       231 non-null    int64
 19  oneTestPerPeople        231 non-null    int64
 20  activePerOneMillion     231 non-null    float64
 21  recoveredPerOneMillion  231 non-null    float64
 22  criticalPerOneMillion   231 non-null    float64
dtypes: float64(3), int64(17), object(3)
memory usage: 125.4 KB

In [14]:
covid_data.isna().sum()

updated                   0
country                   0
countryInfo               0
cases                     0
todayCases                0
deaths                    0
todayDeaths               0
recovered                 0
todayRecovered            0
active                    0
critical                  0
casesPerOneMillion        0
deathsPerOneMillion       0
tests                     0
testsPerOneMillion        0
population                0
continent                 0
oneCasePerPeople          0
oneDeathPerPeople         0
oneTestPerPeople          0
activePerOneMillion       0
recoveredPerOneMillion    0
criticalPerOneMillion     0
dtype: int64

In [18]:
covid_data.describe().round()

TypeError: NDFrame.describe() got an unexpected keyword argument 'full'